{% extends 'recipes/base.html' %}
{% block content %}
<h2 class="mb-4">All Dishes</h2>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
        <div class="card shadow-sm">
            <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description|truncatewords:20 }}</p>
                <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-outline-primary">View Recipe</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
